html {
  background-image: url('assets/hero.jpg');
  background-repeat: none;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

form {
  position: absolute;
  left: 50%;
  top: 47%;
  transform: translateX(-50%);
  z-index: 2;
  margin-top: 2%;
}
// when a search is done or a movie is clicked on, selectForm class is added via jquery to the form.
.selectForm {
  position: absolute;
  top: 2.5%;
}

#search-field {
  width: 200px;
  height: 25px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  outline: none;
  border: 1px solid gray;
  box-shadow: inset 1px 1px 4px gray;
}

.movies-container {
  color: white;
  height: 100px;
  width: 15%;
  float: left;
  clear: both;
  background: rgba(black, 0.6);
  transition: all 1s ease;
  margin: 20px 6.25%;
  border: 3px solid dimgray;
  border-radius: 5px;

  h2 {
    text-align: center;
    line-height: 100px;
  }
}

table {
  width: 97%;
  height: 61%;
  margin-top: 2.5%;
  margin-right: 1.5%;
  text-align: center;
  color: white;
  border-radius: 5px;
  margin-bottom: 2.5%;
  // display: none;

  td {
    padding: 10px;

    &:hover {
      color: black;
      background: white;
    }
  }
}
asdlfkjasdlfkjasldkfjasldkfjalskdfjlsdkfj
