/* Eric Meyer's CSS Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   This is a Sass partial
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  background-image: url("assets/hero.jpg");
  background-repeat: none;
  background-size: cover;
  font-family: 'Open Sans', sans-serif; }

form {
  position: absolute;
  left: 50%;
  top: 47%;
  transform: translateX(-50%);
  z-index: 2;
  margin-top: 2%; }

.selectForm {
  position: absolute;
  top: 2.5%; }

#search-field {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  outline: none;
  border: 1px solid gray;
  box-shadow: inset 1px 1px 4px gray; }

.movies-container {
  color: white;
  height: 50px;
  min-width: 15%;
  float: left;
  clear: both;
  background: rgba(0, 0, 0, 0.6);
  transition: all 1s ease;
  margin: 20px 2%;
  border: 1px solid dimgray;
  border-radius: 5px;
  padding: 10px; }
  .movies-container:hover {
    background: white;
    color: black; }
  .movies-container h2 {
    text-align: center;
    line-height: 50px; }

.search-result {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: 5px solid dimgray;
  background-image: url("http://gph.is/2beHmi1"); }
  .search-result li:hover {
    background: white;
    color: black; }

h1 {
  float: left;
  font-size: 30px;
  font-weight: bold;
  margin: 15px; }

.rating {
  float: right;
  font-size: 30px;
  font-weight: bold;
  margin: 15px; }

.topUserHead {
  font-weight: bold;
  margin-bottom: 15px;
  clear: both; }

.topUsers {
  margin: 30px 15px 0 15px; }
  .topUsers li .active {
    background: white;
    color: black; }

select {
  margin: 15px;
  width: 33.33%; }

button {
  float: right;
  font-size: 14px;
  margin: 14px 10px 10px 10px; }
  button:hover {
    background: red;
    color: black; }

.top-twenty {
  height: 700px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  top: 60%;
  color: white; }
  .top-twenty .top-twenty-text {
    position: absolute;
    height: 20px;
    margin-bottom: 10px; }

/*# sourceMappingURL=main.css.map */
